# bo record template for register outputs
record(bo,"$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    field(OUT,"@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(ZNAM,"$(ZNAM)")
    field(ONAM,"$(ONAM)")
}
