# bo record template for register outputs
record(bo,"$(P)$(R)Enable") {
    field(DTYP,"asynUInt32Digital")
    field(OUT,"@asynMask($(PORT) 0 0xFFFF)ENABLE_HISTOGRAM")
    field(ZNAM,"Disable")
    field(ONAM,"Enable")
}

record(waveform,"$(P)$(R)") {
    field(DTYP,"asynInt32ArrayIn")
    field(INP,"@asyn($(PORT) 0)READ_HISTOGRAM")
    field(SCAN,"$(SCAN)")
    field(FTVL,"LONG")
    field(NELM,"200")  # This number should match driver
}
