# stringout record template 
record(stringout,"$(P)$(R)") {
    field(DTYP,"asynOctetWrite")
    field(OUT,"@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    info(asyn:INITIAL_READBACK, "$(INITIAL_READBACK=0)")
}
